@charset "UTF-8";

body {
  width: 1100px;
}

.commom {
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  color: black;
}

/* Q1 */
.box1 {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background: #ff0000;
}

/* Q2 */
.box2 {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background: #ff0000;
}

/* Q3 */
.box3 {
  display: flex;
  justify-content: center;
}

.box3-1 {
  background-color: #0008ff;
}

.box3-2 {
  background-color: #22ff00;
  margin-left: 150px;
}

/* Q4 */

.box4 {
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
}

.box4-1 {
  width: 300px;
  height: 300px;
  background: #ff0000;
  float: left;
}

.box4-2 {
  width: 300px;
  height: 300px;
  background-color: #0008ff;
  float: left;
}

/* Q5 */
.flex_test-box1 {
  display: flex;
  justify-content: center;
}

.box5-1 {
  background-color: #ff0000;
}

.box5-2 {
  background-color: #0008ff;
}

.box5-3 {
  background-color: #ff8400;
}

/* Q6 */
.flex_test-box2 {
  justify-content: center;
  display: flex;
}

.box6-1 {
  background-color: #00ff51;
}

.box6-2 {
  background-color: #d4ff00;
}

.box6-3 {
  background-color: #ff00e1;
}

/* Q7 */

.box7 {
  display: flex;
  justify-content: center;
}

.box7-1 {
  background: #ff0000;
}

.box7-2 {
  background-color: #0008ff;
  display: none;
}

.box7-3 {
  background: #00ff51;
}

@media screen and (max-width: 959px) {

  /* Q1 箱のサイズの変更 */
  .box1 {
    width: 200px;
    height: 200px;
  }

  /* Q2 色の変更 */
  .box2 {
    background-color: #007bff;
  }

  /* Q3 margin値の変更 */
  .box3-2 {
    margin-left: 50px;
  }

  /* Q4 floatの解除 */
  .box4-1,
  .box4-2 {
    float: none;
  }

  /* Q5 要素の並びを逆順 */
  .flex_test-box1 {
    flex-direction: row-reverse;
  }

  /* Q6 要素の並びを入れ替え */
  .box6-1 {
    order: 2;
  }

  .box6-2 {
    order: 3;
  }

  .box6-3 {
    order: 1;
  }

  /* Q7-1赤い箱をブレイクポイント未満で非表示 */
  .box7-1 {
    display: none;
  }

  /* Q7-2⻘い箱をブレイクポイント未満で表示 */
  .box7-2 {
    display: block;
  }

}